USE [master]
GO
/****** Object:  Database [LSSProject]    Script Date: 04/17/2016 16:30:39 ******/
CREATE DATABASE [LSSProject] ON  PRIMARY 
( NAME = N'LLSProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\LLSProject.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LLSProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\LLSProject_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LSSProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LSSProject]
GO
/****** Object:  Table [dbo].[VideoCard]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VideoCard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Mark] [int] NULL,
 CONSTRAINT [PK_VideoCard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[VideoCard] ON
INSERT [dbo].[VideoCard] ([Id], [Name], [Mark]) VALUES (1, N'128 DDR Radeon 9700 TX w/TV-Out', 44)
INSERT [dbo].[VideoCard] ([Id], [Name], [Mark]) VALUES (2, N'128MB DDR Radeon 9800 Pro', 79)
INSERT [dbo].[VideoCard] ([Id], [Name], [Mark]) VALUES (3, N'128MB RADEON X600 SE', 48)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
SET IDENTITY_INSERT [dbo].[VideoCard] OFF
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[Code] [char](7) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[StudentInfo] ([Code], [Name], [BirthDate], [Email]) VALUES (N'SB01050', N'Đặng Quyết Thắng', CAST(0x911A0B00 AS Date), N'ThangDQSB01050@fpt.edu.vn')
INSERT [dbo].[StudentInfo] ([Code], [Name], [BirthDate], [Email]) VALUES (N'SB60386', N'Trần Mỹ Trang', CAST(0x5A1A0B00 AS Date), N'TrangTMSB60386@fpt.edu.vn')
INSERT [dbo].[StudentInfo] ([Code], [Name], [BirthDate], [Email]) VALUES (N'SB60405', N'Nguyễn Duy Duy', CAST(0xD61A0B00 AS Date), N'DuyNDSB60405@fpt.edu.vn')
/****** Object:  Table [dbo].[Provider]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Host] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Provider] ON
INSERT [dbo].[Provider] ([Id], [Name], [Host]) VALUES (1, N'Hàng Chính Hiệu', N'http://hangchinhhieu.vn/')
SET IDENTITY_INSERT [dbo].[Provider] OFF
/****** Object:  Table [dbo].[LaptopRaw]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LaptopRaw](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NULL,
	[Name] [varchar](100) NULL,
	[CPU] [varchar](100) NULL,
	[Cache] [varchar](100) NULL,
	[RAM] [varchar](100) NULL,
	[Storage] [varchar](100) NULL,
	[Screen] [varchar](100) NULL,
	[VideoCard] [varchar](100) NULL,
	[OpticalDrive] [varchar](100) NULL,
	[OSVersion] [varchar](100) NULL,
	[Bluetooth] [varchar](100) NULL,
	[USBPort] [varchar](100) NULL,
	[LAN] [varchar](100) NULL,
	[Wifi] [varchar](100) NULL,
	[Webcam] [varchar](100) NULL,
	[CardPort] [varchar](100) NULL,
	[Battery] [varchar](100) NULL,
	[Weight] [varchar](100) NULL,
	[Warranty] [varchar](100) NULL,
	[Size] [varchar](100) NULL,
	[Avatar] [varchar](100) NULL,
	[SourceLink] [varchar](100) NOT NULL,
	[Price] [varchar](100) NULL,
	[Host] [varchar](100) NULL,
 CONSTRAINT [PK_LaptopRaw] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_LaptopRaw] UNIQUE NONCLUSTERED 
(
	[SourceLink] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Laptop_Provider]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop_Provider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LaptopId] [int] NOT NULL,
	[ProviderId] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Laptop_Provider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Laptop_Provider] UNIQUE NONCLUSTERED 
(
	[LaptopId] ASC,
	[ProviderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Laptop_Provider] ON
INSERT [dbo].[Laptop_Provider] ([Id], [LaptopId], [ProviderId], [Price]) VALUES (1, 1, 1, CAST(119990000.00 AS Decimal(12, 2)))
INSERT [dbo].[Laptop_Provider] ([Id], [LaptopId], [ProviderId], [Price]) VALUES (2, 2, 1, CAST(89990000.00 AS Decimal(12, 2)))
INSERT [dbo].[Laptop_Provider] ([Id], [LaptopId], [ProviderId], [Price]) VALUES (3, 3, 1, CAST(49990000.00 AS Decimal(12, 2)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[Laptop_Provider] OFF
/****** Object:  Table [dbo].[Laptop]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Laptop](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NULL,
	[Name] [varchar](100) NOT NULL,
	[CPU] [int] NOT NULL,
	[Cache] [varchar](100) NULL,
	[RAMSize] [int] NOT NULL,
	[RAMType] [varchar](10) NULL,
	[RAMBus] [varchar](10) NULL,
	[HDDStorage] [int] NULL,
	[SSDStorage] [int] NULL,
	[ScreenSize] [decimal](4, 2) NOT NULL,
	[DisplayResolution] [varchar](20) NULL,
	[Touch] [bit] NULL,
	[InternalVideoCard] [int] NULL,
	[ExternalVideoCard] [int] NULL,
	[OpticalDrive] [varchar](100) NULL,
	[OSVersion] [nvarchar](100) NULL,
	[Bluetooth] [varchar](100) NULL,
	[Port] [varchar](100) NULL,
	[LAN] [varchar](100) NULL,
	[Wifi] [varchar](100) NULL,
	[Webcam] [varchar](100) NULL,
	[CardPort] [varchar](100) NULL,
	[Battery] [varchar](100) NULL,
	[Weight] [decimal](4, 2) NULL,
	[Warranty] [int] NULL,
	[Size] [varchar](100) NULL,
	[Avatar] [varchar](100) NOT NULL,
	[SourceLink] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Laptop] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Laptop_Link] UNIQUE NONCLUSTERED 
(
	[SourceLink] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Laptop_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Laptop] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[Laptop] OFF
/****** Object:  Table [dbo].[CPU]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CPU](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Mark] [int] NULL,
 CONSTRAINT [PK_CPU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CPU] ON
INSERT [dbo].[CPU] ([Id], [Name], [Mark]) VALUES (1, N'686 Gen', 288)
INSERT [dbo].[CPU] ([Id], [Name], [Mark]) VALUES (2, N'AMD A10 Micro-6700T APU', 1875)
INSERT [dbo].[CPU] ([Id], [Name], [Mark]) VALUES (3, N'AMD A10 PRO-7350B APU', 3305)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
SET IDENTITY_INSERT [dbo].[CPU] OFF
/****** Object:  Table [dbo].[Brand]    Script Date: 04/17/2016 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (1, N'Dell')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (2, N'Asus')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (3, N'Acer')
SET IDENTITY_INSERT [dbo].[Brand] OFF
